<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<app-navbar>
    <div class="fondo px-4 py-5" style="min-height: calc(100vh-64px);">
        <div class="d-flex flex-column align-items-center gap-4">
            <div class="card-con-dinos">
                <div class="d-flex flex-column aling-items-center gap-4">
                    <div class="card-producto" *ngFor="let pan of panes">
                        <h3 class="card-titulo">{{ pan.nombre }}</h3>
                        <p class="card-cantidad">x{{ pan.cantidad }}</p>

                        <div class="form-agregar" *ngIf="pan.mostrarForm">
                            <input type="number" [(ngModel)]="pan.cantidad" class="input-cantidad" min="0" id="cantQ"/>
                            <button class="btn-confirmar" (click)="confirmarCantidad(pan)">Confirmar</button>
                        </div>

                        <button class="btn-amarillo w-100" (click)="agregarCantidad(pan)">Agregar</button>
                        

                    </div>
                   
                </div>
                
            </div>
            <div class="d-flex gap-4 mt-2">
                <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
                <button class="btn-amarillo px-5" (click)="abrirModalCiente()">Crear</button>
            </div>
            
            
        </div>
    </div>

    <div class="overlay" *ngIf="mostrarModalCliente">
        <div class="modal-confirm p-4 text-center">
            <h4>Selecciona el cliente</h4>
            <select class="form-control mb-3" [(ngModel)]="clienteSeleccionado">
                <option [ngValue]="null" disabled>Selecciona un cliente</option>
                <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                    {{ cliente.nombre }}
                </option>
            </select>
            <div class="d-flex gap-3 justify-content-center">
                <button class="btn btn-secondary" (click)="mostrarModalCliente = false">Cancelar</button>
                <button class="btn-amarillo" (click)="confirmarOrden()">Confirmar</button>
            </div>
        </div>
    </div>

    
</app-navbar>
