/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bryndan Write';
  src: url('./assets/fonts/BryndanWriteBook-nGPM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
