.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Bryndan Write', sans-serif;
}

.modal-card {
    background: #fdfdfd;
    padding: 2.5rem;
    border-radius: 32px;
    border: 2px solid #1800ad;
    width: 350px;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ff3131;
    margin-bottom: 1.5rem;
}

.input-cantidad {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #1800ad;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    outline: none;
    font-family: 'Bryndan Write', sans-serif;
}

.btn-modal {
    flex: 1;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Bryndan Write', sans-serif;
    transition: transform 0.1s;
}

.btn-modal:active {
    transform: scale(0.95);
}

.btn-confirmar {
    background: #ffd21f;
    color: #00167a;
    border: 1px solid #cca300;
}

.btn-cancelar {
    background: #e0e0e0;
    color: #555;
    border: 1px solid #bcbcbc;
}