<nav class="navbar navbar-expand-lg navbar-dino px-4">
    <span class="nav-brand navbar-brand">Panaderia Las Rosas</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="menuAbierto" id="menuNavbar" >
        <div class="navbar-nav mx-auto d-flex gap-5">
            <a routerLink="/home" class="nav-link-dino">Cajas</a>
            <a routerLink="/inventario" class="nav-link-dino">Reporte</a>
            <a routerLink="/administrar" class="nav-link-dino" >Configuracion</a>
        </div>

        <div class="d-flex align-items-center gap-3 ms-auto">
            <span class="nav-usuario">{{usuario}}</span>
            <button class="btn-logout" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>

<ng-content></ng-content>